.DS_Store

.bundle
.vagrant
/vendor/bundle

/db/*.sqlite3
/db/*.sqlite3-journal
/db/sphinx

log/*.log
log/development.sphinx.pid
tmp/
.sass-cache/

*.tmproj
.idea
*.iml
*.ipr
*.sublime*
*.swp
*.swo
*.odt#*
/tags
/.tags
/.tags_sorted_by_file

/config/application.yml
/config/secrets.yml
/config/database.yml
/log/*

public/system
public/assets/
public/uploads
public/sitemaps
/non-public

.powenv
.powrc
.rvmrc

/coverage
.irb-history
