<h1>Twits</h1>
<div>
    <table>
        <tr bgcolor="#81BEF7">
            <th>User</th>
            <th>Message</th>
            <th>Votes</th>
        </tr>
        <%= render @twits %>
    </table>
</div>
